/app/config/local
/app/storage/clockwork
/bootstrap/compiled.php
/vendor
/workbench
composer.phar
.DS_Store
/app/controllers--old
/app/database--old
/app/models--old
/app/views--old
filters--old.php
routes--old.php
